<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	
	
	<listener>
		<listener-class>com.accolite.au.listeners.AppContextListener</listener-class>
	</listener>
	<listener>
		<listener-class>com.accolite.au.listeners.SessionListener</listener-class>
	</listener>

	<filter>
		<filter-name>SyncToken-Filter</filter-name>
		<filter-class>com.accolite.au.interceptor.SyncTokenFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>SyncToken-Filter</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping> 
	
  <!-- <filter>
		<filter-name>SyncToken-Filter</filter-name>
		<filter-class>com.accolite.au.interceptor.SyncTokenFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>SyncToken-Filter</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>  -->
	
	<!-- Servlet -->
	<servlet>
		<servlet-name>EchoHttp-Servlet</servlet-name>
		<servlet-class>com.accolite.au.servlet.EchoHttpServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EchoHttp-Servlet</servlet-name>
		<url-pattern>/echoHttp.do</url-pattern>
	</servlet-mapping>

	<!-- Servlet 2 
	<servlet>
		<servlet-name>EchoGeneric-Servlet</servlet-name>
		<servlet-class>com.accolite.au.servlet.EchoGenericServlet</servlet-class>
		<load-on-startup>2</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>EchoGeneric-Servlet</servlet-name>
		<url-pattern>/echoGeneric.do</url-pattern>
	</servlet-mapping>-->

	<!-- Servlet 3 -->
	<servlet>
		<servlet-name>EchoSTMServlet-Servlet</servlet-name>
		<servlet-class>com.accolite.au.servlet.EchoSTMServlet</servlet-class>
		<load-on-startup>2</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>EchoSTMServlet-Servlet</servlet-name>
		<url-pattern>/echoSTMServlet.do</url-pattern>
	</servlet-mapping>


	<!-- Configurations -->
	<context-param>
		<param-name>p1</param-name>
		<param-value>value1</param-value>
	</context-param>
	
	<context-param>
		<param-name>url</param-name>
		<param-value>urlPath</param-value>
	</context-param>

	<session-config>
		<!-- Minutes -->
		<session-timeout>10</session-timeout>
	</session-config>

	<!-- Web Security -->
	<!-- <security-constraint>
		<web-resource-collection>
			<web-resource-name>Wildcard means whole app requires authentication</web-resource-name>
			<url-pattern>/*</url-pattern>
			<http-method>GET</http-method>
			<http-method>POST</http-method>			
		</web-resource-collection>
		<auth-constraint>
			<role-name>tomcat</role-name>						
		</auth-constraint>

		<user-data-constraint>
			transport-guarantee can be CONFIDENTIAL, INTEGRAL, or NONE
			<transport-guarantee>NONE</transport-guarantee>			
		</user-data-constraint>
	</security-constraint>

	<login-config>
		<auth-method>BASIC</auth-method>
		<form-login-config>
			<form-login-page>login.jsp</form-login-page>
			<form-error-page></form-error-page>
		</form-login-config>	
 	
 	</login-config> -->
 	
 	<error-page>
 		<exception-type>java.io.IOException</exception-type>
 		<location>/WEB-INF/views/jsp/error.jsp</location>
 	</error-page>
 	

	<!-- Spring Configuration -->
	<servlet>
		<servlet-name>spring-web</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>spring-web</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>landing.jsp</welcome-file>
	</welcome-file-list>

</web-app>